@import "variables";

* {
  &, &:before, &:after {
    box-sizing: border-box;
  }
}

a {
  text-decoration: none;
  color: currentColor;

  &:hover {
    text-decoration: underline;
  }
}

#main {
  background-image: linear-gradient(228.57deg, $main-gradient-from 11.93%, $main-gradient-from 57.17%, $main-gradient-to 87.46%);
  min-height: 100vh;

  position: relative;
  border-radius: 0 0 12px 12px;
}

body {
  margin: 0;
  font-family: Montserrat, Verdana, Helvetica, sans-serif;
  overflow-x: hidden;
}

header {
  display: grid;
  grid-template-areas:
    "contacts contacts contacts"
    "logo . menu";
  grid-template-columns: auto 1fr auto;
  position: relative;
  z-index: 1;

  @media (min-width: $breakpoint-sm) {
    grid-template-areas:
      "contacts"
      "logo"
      "menu";
    grid-template-columns: unset;
  }

  @media (min-width: $breakpoint-md) {
    grid-template-areas:
    "logo . contacts"
    "logo . menu";
    grid-template-columns: auto 1fr auto;
  }

  .contacts {
    grid-area: contacts;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba($header-bg, 0.2);
    padding: 10px 15px;

    @media (min-width: $breakpoint-sm) {
      padding: 50px 60px 30px;
      background-color: transparent;
    }

    @media (min-width: $breakpoint-sm) {
      justify-content: flex-start;
    }

    .lang-wrapper_button {
      display: inline-flex;
      width: 33px;
      height: 25px;
      align-items: center;
      justify-content: center;
      color: $header-lang-button;
      font-weight: 700;
      font-size: 12px;
      line-height: 15px;
      text-transform: uppercase;
      background-color: transparent;
      border: 0;

      &:hover, &:focus {
        cursor: pointer;
      }
    }

    .lang-wrapper_button-activity {
      background-color: $header-lang-button-activity;
      border-radius: 8px;
    }

    .address {
      display: none;

      @media (min-width: $breakpoint-sm) {
        display: inline-flex;
        align-items: center;
        color: $header-text-dark;
      }

      @media (min-width: $breakpoint-md) {
        color: $header-text-light;
      }
    }

    .phone {
      font-weight: 700;
      color: $header-lang-button;
    }

    .social-icons {
      display: none;

      @media (min-width: $breakpoint-sm) {
        display: inline-flex;

        align-items: center;
      }
    }

  }

  .logo-container {
    grid-area: logo;
    padding-left: 15px;

    @media (min-width: $breakpoint-sm) {
      padding-left: 60px;
    }

    @media (min-width: $breakpoint-md) {
      padding-top: 50px;
    }
  }

  .logo {
    display: inline-block;

    .logo__image {
      width: 169px;
      height: 57px;

      @media (min-width: $breakpoint-sm) {
        width: 302px;
        height: 60px;
      }
    }
  }

  .menu {
    grid-area: menu;
    display: inline-flex;
    padding-right: 15px;

    .menu__icon {
      display: inline-flex;
      align-self: center;
      background-color: transparent;
      cursor: pointer;
      border: none;

      @media (min-width: $breakpoint-sm) {
        display: none;
      }
    }

    .menu__items {
      display: none;
      margin-left: 81px;

      a {
        text-decoration: none;
      }

      @media (min-width: $breakpoint-sm) {
        display: flex;
        list-style: none;
        margin-left: 0;
      }
      @media (min-width: $breakpoint-md) {
        margin-left: 81px;
      }
    }

    .menu__item {
      padding-left: 15px;
      color: $menu-link-light;
      font-weight: 700;
    }

    .menu__item-activity {
      color: $menu-link-activity;
    }
  }


  .divider {
    margin: 0 6px;
  }
}

.logo-bg {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 485px;
}

@media (min-width: $breakpoint-sm) {
  .logo-bg {
    height: 1024px;
  }
}

@media (min-width: $breakpoint-md) {
  .logo-bg {
    height: 768px;
  }
}

@media (min-width: $breakpoint-bg) {
  .logo-bg {
    height: 985px;
  }
}

@media (min-width: $breakpoint-xl) {
  .logo-bg {
    height: 1000px;
  }
}

.divider {
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 100%;

  &.divider_light {
    background-color: $divider-light;
  }
}

.main-tittle-wrapper {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 138px;
  @media (min-width: $breakpoint-sm) {
    margin-top: 260px;
  }
  @media (min-width: $breakpoint-md) {
    margin-top: 250px;
  }
}

.main__tittle {
  font-family: $montserrat_fonts, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  color: #FFFFFF;
  width: 300px;
  position: absolute;
  z-index: 1;
  @media (min-width: $breakpoint-sm) {
    width: 100%;
  }
}

.scroll-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 2px solid $scroll-btn-border;
  cursor: pointer;
  width: 42px;
  height: 42px;
  border-radius: 40px;
  margin: 159px auto 0;
  @media (min-width: $breakpoint-sm) {
    margin: 417px auto 0;
  }

  .scroll-button_hover {
    display: none;
  }

  &:hover {
    border-color: $scroll-btn-border-hover;

    .scroll-button_default {
      display: none;
    }

    .scroll-button_hover {
      display: inline-flex;
    }
  }
}

.main-information-block {
  display: flex;
  flex-direction: column;
  @media (min-width: $breakpoint-md) {
    flex-direction: row;
    margin: 90px auto 0;
  }
  @media (min-width: $breakpoint-bg) {
    margin-left: 125px;
  }
}

@media (min-width: $breakpoint-xl) {
  .main-information-block {
    margin-left: 264px;
  }
}

.main-information-left-items {
  cursor: pointer;
  white-space: nowrap;
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  color: $main-information-block__items-color;
  border-bottom: 4px solid $main-information-border-color;
  padding-bottom: 30px;
  padding-top: 60px;
  @media (min-width: $breakpoint-sm) {
    padding-top: 90px;
  }
  @media (min-width: $breakpoint-md) {
    margin-bottom: 55px;
    padding-right: 60px;
    margin-left: 60px;
    overflow-x: visible;
    white-space: normal;
    display: flex;
    gap: 30px;
    flex-direction: column;
    border-bottom: none;
    align-items: end;
  }
}

@media (min-width: $breakpoint-xl) {
  .main-information-left-items > span:hover {
    color: $main-information-left-items_hover-color;
  }
}


.consistent {
  margin-left: 30px;
  @media (min-width: $breakpoint-sm) {
    margin-left: 60px;
  }
  @media (min-width: $breakpoint-md) {
    margin-left: 0;
  }
}

.consistent_gradient {
  background: linear-gradient(90.13deg, $main-information_gradient-from 0.84%, $main-information_gradient-to 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main-information-right-items {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  @media (min-width: $breakpoint-sm) {
    width: 100%;
    display: flex;
    padding-left: 60px;
    padding-bottom: 65px;
  }
  @media (min-width: $breakpoint-md) {
    padding-bottom: 0;
    margin-top: 95px;
  }
}

.main-information-items__tittle {
  width: auto;
  color: $main__tittle;
  @media (min-width: $breakpoint-md) {
    width: 405px;
    margin: 0;
  }

}


.main-information-items__sub-tittle {
  margin-bottom: 30px;
  width: 315px;
  font-family: $montserrat_fonts, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 30px;
  color: $main-information-items__sub-tittle;
  @media (min-width: $breakpoint-sm) {
    width: 648px;
    margin-bottom: 0;
  }
  @media (min-width: $breakpoint-md) {
    width: 405px;
    margin-top: 30px;
  }
}

@media (min-width: $breakpoint-bg) {
  .main-information-items__sub-tittle {
    width: 581px;
  }
}

@media (min-width: $breakpoint-xl) {
  .main-information-items__sub-tittle {
    width: 861px;
  }
}

.customer-oriented {
  @media (min-width: $breakpoint-md) {
    width: 375px;
  }
}

.line {
  width: 4px;
  height: 303px;
  border: 4px solid $main-information-border-color;
  display: none;

  @media (min-width: $breakpoint-md) {
    display: inline;
    margin-top: 90px;
  }
}

.services {

  margin-left: 30px;
  font-family: $montserrat_fonts, sans-serif;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: $services-color__tittle;
  display: inline;
  letter-spacing: 1px;
}

@media (min-width: $breakpoint-sm) {
  .services {
    margin-top: 60px;
    margin-left: 60px;
  }
}

@media (min-width: $breakpoint-xl) {
  .services {
    margin-top: 60px;
    margin-left: 160px;

    &:hover {
      color: $main-information-left-items_hover-color;
    }
  }
}

.bird_hover {
  display: none;
}

//спросить за птичку
.main-promo-tittle {
  margin-top: 10px;
  margin-left: 30px;
  width: 315px;
  font-family: $montserrat_fonts, sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  background: linear-gradient(90.13deg, $main-information_gradient-from 0.84%, $main-information_gradient-to 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;


  @media (min-width: $breakpoint-sm) {
    margin-left: 60px;
    width: 445px;

  }
  @media (min-width: $breakpoint-md) {
    width: 100%;
  }
  @media (min-width: $breakpoint-xl) {
    margin-left: 160px;
    width: 1600px;
  }
}

#bird-svg {
  fill: #24A3FF;
  @media (min-width: $breakpoint-xl) {
    .services:hover & {
      fill: $bird_hover;
    }
  }
}

.service-container {
  margin-left: 30px;
  padding-bottom: 60px;
  @media (min-width: $breakpoint-sm) {
    margin-top: 60px;
    margin-left: 0;
  }
  @media (min-width: $breakpoint-md) {
    margin-top: 60px;
  }

  @media (min-width: $breakpoint-xl) {
    margin-left: 160px;
  }

  img {
    width: 92px;
    height: 92px;
    @media (min-width: $breakpoint-sm) {
      margin-left: 60px;
    }
  }
}

.service__block {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  @media (min-width: $breakpoint-md) {
    margin-top: 0;
  }
}

.service__tittle {
  width: 315px;
  margin-top: 30px;
  font-family: $montserrat_fonts, sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: $services-color__tittle;
  @media (min-width: $breakpoint-sm) {
    width: 294px;
    margin-left: 60px;
  }
  @media (min-width: $breakpoint-md) {
    width: 261.33px;
  }
  @media (min-width: $breakpoint-bg) {
    width: 400px;
  }
  @media (min-width: $breakpoint-xl) {
    width: 493.33px;
  }
}

.service__sub-tittle {
  margin-top: 15px;
  width: 315px;
  font-family: $montserrat_fonts, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: $services-color__sub-tittle;
  @media (min-width: $breakpoint-sm) {
    width: 294px;
    margin-left: 60px;
  }
  @media (min-width: $breakpoint-md) {
    width: 261.33px;
  }
  @media (min-width: $breakpoint-bg) {
    width: 400px;
  }
  @media (min-width: $breakpoint-xl) {
    width: 493.33px;
  }
}

.protection-of-business-block {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.it-block_position {
  @media (min-width: $breakpoint-sm) {
    display: inline-flex;
  }
}

.support-block_position {
  @media (min-width: $breakpoint-sm) {
    display: inline-flex;
  }

}

.relationships-block_position {
  @media (min-width: $breakpoint-sm) {
    display: inline-flex;
    margin-top: 113px;
  }
  @media (min-width: $breakpoint-md) {
    margin-top: 0;
  }
}

.building-block_position {
  @media (min-width: $breakpoint-sm) {
    display: inline-flex;
  }

}

.protection-block_position {
  @media (min-width: $breakpoint-sm) {
    display: inline-flex;
    margin-top: 120px;
  }

}

.judicial-block_position {
  @media (min-width: $breakpoint-sm) {
    display: inline-flex;
  }

}

.shadow-line_dark {
  margin-right: 20px;
  margin-left: 20px;
  height: 10px;
  background: #CACADB;
  border-radius: 0 0 12px 12px;
}

.shadow-line_white {
  margin-right: 40px;
  margin-left: 40px;
  height: 10px;
  background: #E7E7F2;
  border-radius: 0 0 12px 12px;
}

.team-container {
  background-color: $team-container-info-block_bg;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  width: 315px;
  margin: 30px auto;
  @media (min-width: $breakpoint-sm) {
    width: 648px;
    margin-left: 60px;
  }
  @media (min-width: $breakpoint-md) {
    flex-direction: row;
    width: 904px;
  }
  @media (min-width: $breakpoint-bg) {
    margin-left: 60px;
    width: 1320px;
    margin-top: 60px;
  }
  @media (min-width: $breakpoint-xl) {
    width: 1600px;
    margin-left: 160px;
  }
}


.team-container-info-block {
  margin: 0 auto;

  a {
    text-decoration: none;
  }

  img {
    height: 500px;
    margin-bottom: 30px;
  }

  @media (min-width: $breakpoint-md) {
    margin-left: 30px;
  }
}

.team {
  margin-left: 30px;
  font-family: $montserrat_fonts, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: $team-color;
  margin-top: 30px;
}


.team-container__sub-tittle {
  margin-top: 5px;
  width: 255px;
  margin-left: 30px;
  font-family: $montserrat_fonts, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  background: $gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  @media (min-width: $breakpoint-sm) {
    width: 588px;
  }
  @media (min-width: $breakpoint-md) {
    width: 359px;
  }
  @media (min-width: $breakpoint-bg) {
    width: 860px;
  }
  @media (min-width: $breakpoint-xl) {
    width: 1140px;
  }
}

.team-container-contact-block {
  width: 255px;
  color: $contact_color;
  margin-left: 30px;
  font-family: $montserrat_fonts, sans-serif;
  font-style: normal;
  margin-top: 30px;
  @media (min-width: $breakpoint-sm) {
    width: 548px;
  }
  @media (min-width: $breakpoint-md) {
    width: 424px;
  }
  @media (min-width: $breakpoint-bg) {
    width: 820px;
  }
  @media (min-width: $breakpoint-xl) {
    width: 1100px;
  }
}

.contact-block__name {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.contact-block__sub-name {
  margin-top: 5px;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 30px;
}

.team-container-info__photo_phone {
  @media (min-width: $breakpoint-sm) {
    display: none;
  }
}

.man-sm {
  display: none;
  @media (min-width: $breakpoint-sm) {
    display: inline;
  }
  @media (min-width: $breakpoint-md) {
    display: none;
  }
}

.man-md {
  display: none;
  @media (min-width: $breakpoint-md) {
    display: inline;
  }
  @media (min-width: $breakpoint-bg) {
    display: none;
  }
}

.man-bg {
  display: none;
  @media (min-width: $breakpoint-bg) {
    display: inline;
  }
  @media (min-width: $breakpoint-xl) {
    display: none;
  }
}

.man-xl {
  display: none;
  @media (min-width: $breakpoint-xl) {
    display: inline;
  }
}

.slider-block {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.slider_active {
  width: 16px;
  height: 16px;
  border-radius: 16px;
  background: $slider_active;
  cursor: pointer;
}

.slider {
  width: 16px;
  height: 16px;
  border-radius: 16px;
  background: $slider_active;
  opacity: 0.2;
  margin-left: 15px;
  cursor: pointer;
}

.trust-block {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  font-family: $montserrat_fonts, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: $trust-color;
}

.team-container__photo-bg {
  background-position: center;
  border-radius: 12px;
  background-image: url("../img/man-usually.jpg");
  height: 500px;
  width: 100%;
  background-size: cover;
}

.partners-container {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
}

.partner-block {
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  @media (min-width: $breakpoint-sm) {
    width: 33.3%;
  }

}

.hillel-promo {
  background-color: #1C4280;
}

.wanna-biz {
  background: #143646;
}

.tapgerine-promo {
  background: #F48B30;
}

.look-promo {
  background: #9E4DC3;
}

.orangear-promo {
  background: #FD9339;
}

.adtelligent-promo {
  background: #E2E2E4;

}

//скачай каждую картинку и доделай эти блоки, сделай их адаптивные с помощью ширины, в процентах 33% и так далее, или может вмест скачивание испольхзуй код SVG