$white: #FFFFFF;
$active-color: #F0145A;
$dark: #B3B3BA;


$main-gradient-from: #323264;
$main-gradient-to: #643E72;
$main__tittle: $white;
$header-bg: #f5f5fa;
$header-lang-button: $white;
$header-lang-button-activity: $active-color;
$header-text-light: $white;
$header-text-dark: #B3B3BA;
$menu-link-light: $white;
$menu-link-activity: $active-color;
$scroll-btn-border: $dark;
$divider-light: $white;
$divider-dark: $dark;
$scroll-btn-border-hover: $active-color;
$main-information-block__items-color: $dark;
$main-information_gradient-from: #EF8080;
$main-information_gradient-to: $active-color;
$main-information-border-color: rgba(255, 255, 255, 0.3);
$main-information-left-items_hover-color: $active-color;
$services-color__tittle: #24A3FF;
$montserrat_fonts: Montserrat;
$services-color__sub-tittle: $white;
$bird_hover: $active-color;
$main-information-items__sub-tittle: $white;

$breakpoint-sm: 767px;
$breakpoint-md: 1023px;
$breakpoint-bg: 1440px;
$breakpoint-xl: 1920px;

