$main-gradient-from: #323264;
$main-gradient-to: #643E72;
$main__tittle: #FFFFFF;
$header-bg: #f5f5fa;
$header-lang-button: #FFFFFF;
$header-lang-button-activity: #F0145A;
$header-text-light: #FFFFFF;
$header-text-dark: #B3B3BA;
$menu-link-light: #FFFFFF;
$menu-link-activity: #F0145A;
$scroll-btn-border: #B3B3BA;
$divider-light: #FFFFFF;
$divider-dark: #B3B3BA;
$scroll-btn-border-hover: #F0145A;
$main-information-block__items-color: #B3B3BA;
$main-information_gradient-from: #EF8080;
$main-information_gradient-to: #F0145A;
$main-information-border-color:  rgba(255, 255, 255, 0.3);

$breakpoint-sm: 767px;
$breakpoint-md: 1023px;
$breakpoint-bg: 1440px;
$breakpoint-xl: 1920px;

